
@{
    ViewBag.Title = "Index";
}

<p>検索テキスト</p>
<input type="search" id="searchtext" class="form-control" />

<p>電話番号</p>
<input type="tel" id="teltext" class="form-control" />

<p>URL</p>
<input type="url" id="urltext" class="form-control" />

<p>Email</p>
<input type="email" id="emailtext" class="form-control" />

<p>Password</p>
<input type="password" id="passwordtext" class="form-control" />

<p>Datetime</p>
<input type="datetime" id="datetimetext" class="form-control" />

<p>Date</p>
<input type="date" id="datetext" class="form-control" />
























