@{
    Layout = "~/Views/Shared/_SigninLayout.cshtml";
    ViewBag.Title = "Signin";
}

@using (Html.BeginForm("Index", "Menu", new { }, FormMethod.Post, new { id = "form" }))
{
    <div class="form-signin">
        <h2 class="form-signin-heading">Please Login</h2>
        @Html.Label("UserID", new { @for = "inputUserID", @class = "sr-only" })
        @Html.TextBox("inputUserID", "", new { id = "inputUserID", @class = "form-control", placeholder = "User ID", required = "", autofocus = "" })
        @Html.Label("Password", new { @for = "inputPassword", @class = "sr-only" })
        @Html.Password("inputPassword", "", new { id = "inputPassword", @class = "form-control", placeholder = "Password", required = "" })
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
}
