@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject("ResourceTitle", "Home_Index_Title");
}

<div class="row">
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_SampleHome_Index_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Home_Sample_SampleHome_Index_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_SampleHome_Index_Title").ToString(), "Index", "SampleHome", new { area = "Sample" }, new { id = "btnSampleHome", @class = "btn btn-primary" })</p>
    </div>
</div>