@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("FormsAuthentication", "Index", "FormsAuthentication", "", new { @class = "btn btn-default" })
    </div>
</div>