@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"></div>
<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("FormsAuthentication", "Index", "FormsAuthentication", "", new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Result", "Index", "Result", "", new { @class = "btn btn-default" })</p>
    </div>
</div>