
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Exception_Index_Title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Exception", "Exception", new { }, new { @class = "btn btn-default" })