@model MVC5Sample.Models.User

@{
    ViewBag.Title = "UserDetil";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ID</td>
            <td>@Model.Name</td>
        </tr>
    </tbody>
</table>