html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

div.footer {
    background: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

    div.footer p {
        margin-left: 20px;
    }

div.contents {
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}
