html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

div.footer p {
    margin-left: 20px;
}

div.contents {
    position: relative;
    min-height: 100%;
    padding-top: 50px;
}
